{% extends "base.html" %}

{% block title %} Wage Violations: About {% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-1">
       <h3> About the project </h3>
        <p> 
            Our goal was to create a predictive model of wage violations.
        </p>
 

        <h3> About us </h3>
        <p> 
            Our team consists of four members: two data scientsts, a data engineer
            and a marketing analytics manager.
        </p>
    </div>
</div>
{% endblock %}

